{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>Login</h1>

<div class="row">
  <div class="col-md-4">
    <form action="{% url 'registration_login' %}{% if next %}?next={{ next }}{% endif %}" method="POST" role="form">{% csrf_token %}
      {% include "includes/form_fields.html" %}

      <input type="submit" class="btn btn-primary" name="submit" value="Login">
      <a href="{% url 'registration_register' %}{% if next %}?next={{ next }}{% endif %}" class="btn btn-default pull-right">Register</a>
    </form>
  </div>
</div>
{% endblock content %}
