@import "bootstrap.less";
@import "bootstrap-theme.less";
@import "lesshat-prefixed.less";
@import "accounts.less";
@import "shop.less";

#content {
    padding: 51px 0 50px;

    .breadcrumb {
        margin: 20px 0;
    }
}

ul.errorlist {
    padding: 0;
    list-style-type: none;
}
